.sidebar {
    background-color: #072c48;
    width: 100%;
    height: 100%;
    text-align: center;

}

.wrapper {

}

.title {
    color: rgb(255,255,255);
    text-align: center;
}


.html, body {
    height: 100%;
}